#forecast-bar {
  display: grid;
  gap: 32px;
  place-items: center;
  grid-auto-flow: column;
}

.forecast-detail {
  display: grid;
  grid-template: auto auto / 36px auto;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'icon title'
    'icon data';
  column-gap: 8px;
}

.forecast-detail img {
  grid-area: icon;
  width: 36px;
}

.forecast-detail h2 {
  grid-area: title;
  font-size: 0.8rem;
  font-weight: 400;
}

.forecast-detail p {
  grid-area: data;
  font-size: 1.2rem;
}
