#temperature-header {
  padding: 8px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-items: center;
  align-items: center;
}

#date {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 4px 0px;
}

#location {
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

#condition {
  font-size: 1.4rem;
  margin-top: 16px;
  margin-bottom: -16px;
}

#temp-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#temp-container img {
  align-self: center;
  scale: 1.4;
  padding-right: 8px;
}

#current-temp {
  font-size: 5rem;
  font-weight: 700;
}

.scale-btn {
  background: transparent;
  margin-top: 20px;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  color: #868b90;
}

.active {
  color: #f5f5f5;
  outline: none;
}

.divider {
  border-left: solid 1px #868b90;
  margin: 0 4px;
}

#current-forecast {
  display: flex;
  place-items: center;
  gap: 16px;
}

#hiTemp,
#loTemp {
  font-size: 0.9rem;
  font-weight: 400;
}

#hiTemp span,
#loTemp span {
  padding: 0px 4px;
}
/* minimal scenary wallpaper svg */
