@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100%;
  /* color: #f5f5f5; */
  color: #f5f5f5;
  text-shadow: 1px 2px 3px rgba(62, 60, 55, 0.8);
  background: url(../images/background-scenery-landscape.jpg) no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

#page-container {
  min-height: 100%;
  padding: 64px 0px;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  justify-items: center;
  gap: 48px;
}

@media only screen and (min-width: 1920px) {
  body {
    margin: 0px 20%;
  }
}
