.upcoming-day-forecast {
  display: grid;
  grid-template: auto 64px auto / repeat(2, auto);
  grid-template-areas:
    'day day'
    'icon icon'
    'hi lo';
  align-content: end;
  justify-items: center;
}

.upcoming-day-forecast h3 {
  grid-area: day;
}

.upcoming-day-forecast img {
  grid-area: icon;
  width: 64px;
  height: auto;
}

.day-forecast-hitemp {
  grid-area: hi;
  padding-right: 4px;
}

.day-forecast-lotemp {
  grid-area: lo;
  padding-left: 4px;
  color: #f5f5f597;
}

#threeDay-forecast-container {
  display: flex;
  gap: 48px;
  padding-top: 48px;
}
